@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
    width: 100vw;
    font-family: 'Caveat';
}

.navbar {
    width: 100vw;
    display: flex;
    background-image: url('../imagem/fundo-galaxia.png');
    justify-content: center; 
    align-items: center;
    z-index: 3;
    box-shadow: 0 12px 10px -4px rgba(0, 0, 0, 0.7); 
    position: fixed; 
    top: 0;
    left: 0;
    height:10vh;
}

.navbar .ul {
    display: flex; 
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; 
    justify-content: space-evenly; 
    align-items: center;
}

.navbar .ul li {
    display: flex;
    align-items: center;
}

.navbar .ul li img {
    width: 8vw;
}
.navbar .ul li a {
    text-decoration: none !important;
    color: #fff;
    font-size: 35px;
    font-family: 'Caveat';
}
.navbar .ul li button {
    width: 15vw;
    height: 6vh;
    border-radius: 15px;
    color: #fff;
    font-size: 30px;
    background-color: #03153D;
    border: none;
    font-family: 'Caveat';
}
.navbar .ul li button:hover{
    transform: scale(1.1);
}
.video-inicial{
    width: 100vw;
    z-index: 0;
}
.video-inicial video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.video-inicial button {
    margin-top: 35%;
    margin-left: 10%;
    width: 20vw;
    height: 10vh;
    border-radius: 20px;
    background-color: #03153D;
    color: #fff;
    font-size: 35px;
    border: none;
    box-shadow: 0px 4px 6px #03153D; 
    font-family: 'Caveat';
}
.video-inicial button:hover{
    transform: scale(1.1);
}
.quem-somos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #E9E9E9;
    margin-top: 5%;
}
.card{
    width: 20vw;
    height: 45vh;
    background-color: #03153D;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    margin-top: 15%;
}
.card img{
    width: 80%;
    transform: translateY(-40%);
}
.card span{
    width: 80%;
    transform: translateY(-60%);
    font-size: 25px;
}
.como-usar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.como-usar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrosel {
    position: relative; 
    z-index: 2; 
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.carrosel button{
    width: 20vw;
    height: 7vh;
    border-radius: 20px;
    border: none;
    background-color: #775689;
    color: #fff;
    font-size: 35px;
    box-shadow: 0px 4px 6px #0d0d0d; 
    margin-top: 55%;
    font-family: 'Caveat';
}
.carrosel button:hover{
    transform: scale(1.1);
}
.info{
    margin-top: 0;
}
.bloco{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 33vw;
}
.bloco span{
    font-size: 60px;
    color: #03153D;
}
.bloco img{
    width: 70%;
}
.bloco button{
    width: 15vw;
    height: 7vh;
    border-radius: 20px;
    border: none;
    background-color: #775689;
    color: #fff;
    font-size: 35px;
    box-shadow: 0px 4px 6px #0d0d0d;
    font-family: 'Caveat';
}
.bloco button:hover{
    transform: scale(1.1);
}
.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section img{
    width: 40%;
}
.section span{
    width: 95%;
    font-size: 26px;
}
.carrosel .img-dev{
    width: 40%;
    height: 40%;
    border-radius: 500%;
}
.carrosel span{
    font-size: 40px;
    align-items: center;
    text-align: left;
    margin-right: 5%;
}
.carrosel h1{
    font-size: 50px;
}
.carrosel span ion-icon{
    font-size: 2rem;
}
.b{
    background-color: #E9E9E9;
    width: 50%;
    height: 80%;
    color: #fff;
}
.fundo-cadastro img{
    width: 100vw;
    object-fit: cover;
    z-index: 0;
}
.fundo-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.form{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.062);
    width: 50vw;
    height: 80vh;
}
.container-carrosel .imagens img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    display:  none;
}
.container-carrosel{
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    padding: 20px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45); 
}
.container-carrosel .imagens{
    height: 80%;
}
.container-carrosel .imagens img.imgInicial{
    display: block;
}
.container-carrosel .posicoes button{
    height: 12px;
    width: 20px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: transparent;   
}
.container-carrosel .posicoes{
    width: 120px;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-carrosel button#anterior,
.container-carrosel button#proximo{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    color: black;
}
.container-carrosel button#anterior{
    left: -30px;
}
.container-carrosel button#proximo{
    right: -30px;
}